.grid-container {
    display: grid; 
    gap: 1rem;
    grid-template-columns: 1fr;
}

@media (min-width: 750px) and (max-width: 1023px) {
    .grid-container { 
        align-content: center;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 80px; 
    }
    }

    
@media (min-width: 1024px) {
    .grid-container { 
        grid-template-columns: repeat(3, 1fr);
        margin-left: 20px;
    }
    }